<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Picture</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% @ideas.each do |idea| %>
        <tr>
            <td><%= idea.name %></td>
            <td><%= idea.description %></td>
            <td>f</td>
            <td>

                <div class="ui buttons">
                <%= link_to(idea) do %>
                    <div class="ui animated button positive" tabindex="0">
                        <div class="visible content">Show</div>
                        <div class="hidden content">
                            <i class="unhide icon"></i>
                            Show
                        </div>
                    </div>
                <% end %>
                <%= link_to(edit_idea_path(idea)) do %>
                    <div class="ui animated button blue" tabindex="0">
                        <div class="visible content">Edit</div>
                        <div class="hidden content">
                            <i class="write icon"></i>
                            Edit
                        </div>
                    </div>
                <% end %>
                <%= link_to(idea, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                    <div class="ui animated button negative" tabindex="0">
                        <div class="visible content">Delete</div>
                        <div class="hidden content">
                            <i class="trash icon"></i>
                            Delete
                        </div>
                    </div>
                <% end %>
            </div>

            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to(new_idea_path) do %>
    <div class="ui button positive">
        <div class="visible content">
            <i class="plus icon"></i>New Idea</div>
        </div>
    </div>
<% end %>
