<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Picture:</strong>
    <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>

<div class="ui divider"></div>

<h3>Comments</h3>
<% @comments.each do |comment| %>
<div class="ui vertical segment">
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
  <div class="circular negative ui icon button" tabindex="0">
  <div class="visible content"></div>
  <div class="hidden content">
    <%= link_to "<i class='trash icon small'></i>".html_safe, comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
  </div>
<% end %>

<%= render 'comments/form' %>

<div class="ui buttons">
<div class="ui animated button" tabindex="0">
    <div class="visible content"><%= link_to 'Back', ideas_path %></div>
    <div class="hidden content">
        <i class="left arrow icon"></i>
        <%= link_to 'Back', ideas_path %>
    </div>
</div>
<div class="ui animated button" tabindex="0">
    <div class="visible content"><%= link_to 'Edit', edit_idea_path(@idea) %></div>
    <div class="hidden content">
        <i class="write icon"></i>
        <%= link_to 'Edit', edit_idea_path(@idea) %>
    </div>
</div>
</div>
