<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Picture:</strong>
  <td><%= image_tag @idea.picture_url(:thumb) if @idea.picture? %></td>
</p>

<div class="ui divider"></div>

<h3>Comments</h3>
<% @comments.each do |comment| %>
<div class="ui vertical segment">
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>

    <%= link_to(comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }) do %>
        <div class="circular negative ui icon button" tabindex="0">
        <i class='trash icon small'></i>
        </div>
    <% end %>
  </div>
</div>
  </div>
<% end %>

<%= render 'comments/form' %>

<div class="ui buttons">
<%= link_to(ideas_path) do %>
    <div class="ui animated button" tabindex="0">
        <div class="visible content">Back</div>
        <div class="hidden content">
            <i class="left arrow icon"></i>
            Back
        </div>
    </div>
<% end %>
<%= link_to(edit_idea_path(@idea)) do %>
    <div class="ui animated button" tabindex="0">
        <div class="visible content">Edit</div>
        <div class="hidden content">
            <i class="write icon"></i>
            Edit
        </div>
    </div>
<% end %>
</div>
